body {
    background-color: #d0826f;
}

.width-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.raci,
.raci-legend {
    width: 100%;
}

.raci .w-20,
.raci-legend .w-20 {
    width: 20%;
}

.raci .w-10,
.raci-legend .w-10 {
    width: 10%;
}

.raci .w-70,
.raci-legend .w-70 {
    width: 70%;
}

.raci td,
.raci-legend td {
    text-align: center;
}

.raci .accountable,
.raci-legend .accountable {
    background-color: orange;
}

.raci .consulted,
.raci-legend .consulted {
    background-color: blue;
}

.raci .informed,
.raci-legend .informed {
    background-color: green;
}

.raci .responsible,
.raci-legend .responsible {
    background-color: red;
}

.raci-legend {
    margin-top: 80px;
}

.raci-legend td.text-right {
    text-align: right;
}